body, .nav{
    background-color: black!important;
}
.logo{
    height: 50px;
}
/***cartes***/
.cart{
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-evenly;
  }
  .carte{
    margin-top: 10%;
    text-align: center;
    border: #333 1px solid !important;
    background-color: #222 !important;
  }
  .img{
      height: 300px !important;
  }
  .txt{
      text-align: justify !important;
      color: #fff !important;
  }
  .titr{
    color: #fff !important;
}
  .fav{
      height: 30px;
      float: right;
  }
  .link{
    float: left;
    color: #fff;
    border-bottom: 1px solid #fff;
}
/***part1***/
.part1{
    background-image: url('https://img5.cdn.cinoche.com/images/615de135d51bf6c4bb7041ae7fd38440.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px !important;
    width: 100% !important;
}
.par1{
    background-color: rgba(13, 13, 15, 0.5)!important;
    height: 550px !important;
    width: 100% !important;
    padding-top:15em;
    padding-left: 15rem;
}
.par1 h1{
    color: #fff;
    font-size: 3rem;
}
.par1 h3{
    color: #fff;
    padding-left: 10rem;
    font-weight: bold;
}
.search{
    padding-left: 10rem;
    padding-top: 10px;
}
.search .button{
    background-color: red !important;
    border: none;
    margin-left: -0.8em !important;
    padding: 10px 50px 10px 50px;
    color: #fff;
}
.search .srch{
    padding: 20px 50px 20px 50px;
}
/***footer***/
.footer{
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer li{
    list-style: none;
    padding: 2px;
}
.footer li a{
    color: gray;
    font-size: 12px;
}
.footer p{
    text-align: center;
    color: gray;
    font-size: 15px;
}
hr{
    border: 1.2px solid #333!important;
    border-radius: 5px !important;
}

.form{
  margin-left: 30rem;
  background-color: gray !important;
  padding: 5em;
}
.val-favorite{
  background-color: white;
  border-radius: 50%;
  color: black;
  font-size: 20px;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  margin-top: 0.2rem;

}
.fa-heart{
  border-radius: 50%;
  color: white;
  font-size: 20px;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  margin-top: 0.2rem;
}
.btnt{
  background-color: transparent !important;
  border: none !important;
}


/* 
.container{
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .card{
    height: 280px;
    max-width: 350px;
    margin: 0 20px;
    background: white;
    transition: 0.4s;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  }
  .card:hover{
    height: 470px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  }
  .card .img{
    height: 200px;
    width: 100%;
  }
  .card .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .card .top-text{
    padding: 5px;
  }
  .card .top-text .name{
    font-size: 25px;
    font-weight: 600;
    color: #202020;
  }
  .card .top-text p{
    font-size: 20px;
    font-weight: 600;
    color: #e74c3c;
    line-height: 20px;
  }
  .card .bottom-text{
    padding: 0 20px 10px 20px;
    margin-top: 5px;
    background: white;
    opacity: 0;
    visibility: hidden;
    transition: 0.1s;
  }
  .card:hover .bottom-text{
    opacity: 1;
    visibility: visible;
  }
  .card .bottom-text .text{
    text-align: justify;
  }
  .card .bottom-text .btn{
    margin: 10px 0;
    text-align: left;
  }
  .card .bottom-text .btn a{
    text-decoration: none;
    background: #e74c3c;
    color: #f2f2f2;
    padding: 5px 8px;
    border-radius: 3px;
    display: inline-flex;
    transition: 0.2s;
  }
  .card .bottom-text .btn a:hover{
    transform: scale(0.9);
  } */
